.c1
{
    width: 23%;
    order: 1;
}

.c2
{
    width: 73%;
    order: 2;
}

.c3
{
    width: 100%;
    height: calc((47vh - 4rem) /2);
    order: 3;
}

.c4
{
    width: 100%;
    height: calc((47vh - 4rem) /2);
    order: 4;
}

.c5
{
    height: calc(47vh - 1rem);
    order: 5;
}